<div id="flash-message">
    {{#if messages.error}}
        <div class = "danger" id="danger">{{messages.error}}</div>
    {{else}}
        <div class = "success" id= "success">{{messages.success}}</div>
    {{/if}}
</div>