<a class = "post-card-a" href='/posts/{{this.id}}'>
    <div class="posts-card">
        <img class="post-image" src='/{{this.thumbnail}}' />
        <div class="post-info">
            <p class="post-title">{{this.title}}</p>
            <p class="post-author">Description: {{this.description}}</p>
        </div>
    </div>
</a>