<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=opera">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">

    {{#each css}}
      <link rel='stylesheet' type = 'text/css' href='/public/css/{{this}}'/>
    {{/each}}

    {{#each js}}
      <script defer src="/public/js/{{this}}"></script>
    {{/each}}
  </head>
  <body>
    <div class="outer">
    {{#if (nonEmptyObject messages)}}
      {{> flashmessage this}}
    {{/if}}
    {{> header}}
    {{{body}}}
    {{> footer}}
    </div>
  </body>
</html>
